<p>
  <%= t(:text_sneak_poll_added_title, :sneak_poll => link_to(h(@sneak_poll.title), @sneak_poll_url),
                                      :project    => link_to(h(@project.name), @project_url)) -%>
</p>
<p><%= t(:text_sneak_poll_added_body) -%></p>
