<%= t(:text_sneak_poll_added_title, :sneak_poll => "\"#{h(@sneak_poll.title)}\" ( #{@sneak_poll_url} )",
                                    :project    => "\"#{h(@project.name)}\" ( #{@project_url} )") -%>

<%= t(:text_sneak_poll_added_body) -%>
